/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.text-gradient--clr-pink {
  background: linear-gradient(135deg, #f99af9, #d12f8e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient--clr-blue {
  background: linear-gradient(135deg, #9698ea, #0266ad);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient--clr-green {
  background: #bafcab;
  background: linear-gradient(135deg, #bafcab, #66ea55);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient--clr-yellow {
  background: linear-gradient(135deg, #fff896, #ba9e00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 
.shadow {
  background: hsl(var(--primary) / 0%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 260px;
  height: 400px;
  z-index: -1;
  rotate: 35deg;
  border-radius: 24px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
} */

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

/* Xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* Sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* Md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* Xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2Xl */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
