.meeting__card {
  padding: 1rem;
  border-radius: 10px;
  background-color: #0266ad;
  max-width: 250px;
}

.meeting__card > * + * {
  margin-top: 0.5rem;
}

.meeting__top-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.meeting__id {
  margin-top: 0.3rem;
  background-color: #000;
  padding: 0.3rem;
  border-radius: 7px;
}

.meeting__id-para {
  font-size: var(--fs-100);
  font-weight: var(--fw-300);
}

.meeting__label {
  text-decoration: underline;
  text-transform: uppercase;
}

.meeting__btn-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
