.call__participants-list {
  position: absolute;
  right: 1%;
  background-color: var(--clr-secondary);
  padding: 1rem;
  border-radius: 10px;
}


.dock-css{
bottom: 10px;
border: 2px solid rgba(255, 255, 255, 0.193);
}
.warn-strict{
  position: fixed;
  top: 10px;
  left: 5px;
  color: chartreuse;
}
.check-temp{
  display: none;
  z-index: -2;
}