.navbar_container {
  padding-top: 1rem;
  max-width: 1100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: rgba(14, 13, 13, 0.06);
  border: 2px solid rgba(255, 255, 255, 0.229);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  font-weight: 500;
  font-size: 1.5rem;
}
